# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage
/tests

# production
/build
/dist

# VCS
.git

# IDE
.idea
.vscode
.jshintrc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ENV
.DS_Store
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Other
TODO.md
/.ignored
vue.config.js

# gh-pages Branch
/public
/src
package.json
package-lock.json
README.md
TODO.md



